<html>
<head>
	<title>REST API Demo</title>
</head>
<body>
<h2 style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;;"><span style="color:#00FF00;"><strong>Welcome to&nbsp;</strong><b>Rest API Demo</b></span></h2>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;"><span style="color:#FF0000;"><b>This is a CRUD app powered by Flask and REST APIs.</b></span></p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;"><span style="color:#008080;">This is a demo to demonstrate the working of REST API&#39;s and how you can interact with it to generate stores and items to be put into the stores.</span></p>

<p style="font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;"><font color="#008080"><span style="background-color: rgb(255, 255, 255);">To read the instructions on using the app, visit my github link for the application below</span></font></p>

<p style="font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;"><a href="https://github.com/Souvikray/REST-API-Demo">https://github.com/Souvikray/REST-API-Demo</a></p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;">&nbsp;</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;">&nbsp;</p>
</body>
</html>

